body {
    text-align: center;
}

.btn:hover {
    background-color: #FFFFFF;
    color: #007bff;
}

.table-scroll {
    width: 100%;
    overflow: scroll;
    table-layout: fixed;
}

table,
td,
th {
    border-collapse: collapse;
}

th,
td {
    width: auto;
    height: auto;
    text-align: center;
}
