/* .ui-toast .ui-toast-message {
  border: 0 none !important;
  color: #f7f7f7 !important;
}

.ui-toast-icon, .ui-toast-close-icon {
  color: #f7f7f7 !important;
}

.ui-toast-summary {}

.ui-toast-detail {}

.ui-toast-message-error {
  background-color: #e30000 !important;
} */